<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Меню</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#/user-radiation">Радиация</a>
      <a mat-list-item href="#/user-pm">Атмосфера: РМ</a>
      <a mat-list-item href="#/user-ozon">Атмосфера: Озон</a>
      <a mat-list-item href="#/user-sera">Атмосфера: Двуокись серы</a>
      <a mat-list-item href="#/user-azot">Атмосфера: Двуокись азота</a>
      <a mat-list-item href="#/user-chemical-oxygen">Гидросфера: ХПК</a>
      <a mat-list-item href="#/user-bio-oxygen">Гидросфера: БПК</a>
      <a mat-list-item href="#/user-ph">Гидросфера: Кислотность</a>
      <a mat-list-item href="#/user-city">Населенные пункты</a>
      <a mat-list-item href="#/user-water-object">Водные объекты</a>
      <a mat-list-item href="#/user-statistic">Статистика</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">Меню</mat-icon>
      </button>
      <mat-card-header>
        <mat-card-title>БелЭко - модуль сотрудника</mat-card-title>
      </mat-card-header>
      <span class="spacer"></span>
    <button mat-raised-button color="basic" (click)="Profile()">Личный кабинет</button>
    <button mat-raised-button color="basic" (click)="Logout()">Выйти</button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
