.form {
  min-width: 150px;
  max-width: 1500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.form-card {
  max-width: 1500px;
}

.center {
  width: 70%;
  margin: 50px auto;
}

.submit-button {
  margin-top: 20px;
}

.info {
  padding: 20px;
  background-color: #337c003d;
  border-radius: 5px;
  margin-bottom: 15px;
}

p {
  margin-bottom: 4px;
  font-size: 18px;
}
