<div class="wrapper">
  <!--Шапка сайта с меню-->
  <header class="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4">
      <h1 class="title mr-md-auto">БелЭко</h1>
      <nav class="nav">
        <button class="login" mat-raised-button color="primary" (click)="Login()">Войти</button>
      </nav>
    </div>
  </header>

  <main id="main">

    <div id="info_epigraph">
      <div>
        <h3 class="epigraph-text">
          Что такое БелЭко?
        </h3>
        <p class="epigraph-subtext">
          БелЭко - система, позволяющая производить анализ состояния окружающей стреды Республики Беларусь.
          Мы собирем и обрабатываем множество показателей состояния радиационного фона, наличия заргрязнения атмосферы и водных объектов.
      </div>
    </div>

    <div class="container">

      <hr class="featurette-divider">

      <div class="row featurette" id="info_1">
        <div class="col-md-7">
          <h2 class="featurette-heading">Измерение показателей радиации</h2>
          <p class="lead-info">
            Радиация вредна для всех живых организмов, она разрушает и нарушает структуру молекул ДНК. Радиация вызывает врожденные пороки и выкидыши,
            онкологического заболевания, а слишком высокая доза радиации влечет за собой острую или хроническую лучевую болезнь, а также смерть.
          </p>
          <p class="lead-info">
            Мониторинг уровня радиации позволит вовремя обнаружить место, время и уровень превышения радиации, что позволит спасти людские жизни.
          </p>
        </div>
        <div class="col-md-5">
          <img class="img_1" src="../../assets/radiatsiya.jpg" width="100%" alt="#">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette" id="info_2">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Измерение уровня загрязнения атмосферы</h2>
          <p class="lead-info">
            По мере того как окружающий нас мир становится все более загрязненным и перенаселенным,
            двигатели продолжают выбрасывать в атмосферу загрязняющие вещества и половина всего населения не имеет доступа
            к чистым видам топлива или технологиям, уровни загрязнения воздуха, которым мы дышим,
            становятся все более опасными — в настоящее время 9 из каждых 10 человек дышат загрязненным воздухом,
            что ежегодно приводит к 7 миллионам случаев смерти.
          </p>

        </div>
        <div class="col-md-5">
          <img class="img_2" src="../../assets/air.jpg" width="100%" alt="#">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette" id="info_1">
        <div class="col-md-7">
          <h2 class="featurette-heading">Измерение показателей загрязнения воды</h2>
          <p class="lead-info">
            Загрязнение воды является достаточно мощной проблемой, чтобы поставить мир на грань разрушения.
            Вода является легким растворителем, позволяющим большинству загрязняющих веществ легко растворяться в ней и
            загрязнять ее. В первую очередь непосредственно страдают организмы и растительность, для которых вода являются
            средой обитания. Во вторую – люди, которыми прямо или опосредованно контактируют с зараженными источниками воды.
          </p>
          <p class="lead-info">
            Мониторинг уровня радиации позволит вовремя обнаружить место, время и уровень превышения радиации, что позволит спасти людские жизни.
          </p>
        </div>
        <div class="col-md-5">
          <img class="img_1" src="../../assets/water.jpg" width="100%" alt="#">
        </div>
      </div>

      <hr class="featurette-divider">

    </div>
    <footer class="center">
      <span class="copyright">
        © 2021
      </span>
    </footer>
  </main>
</div>

