.form {
  min-width: 150px;
  max-width: 1500px;
  width: 100%;
}

.input-width {
  width: 20%;
  margin-right: 40px;
}

.form-card {
  max-width: 1500px;
}

form {
  text-align: center
}

.center {
  width: 90%;
  margin: 50px auto;
}

.submit-button {
  margin-top: 20px;
}

.button {
  margin-bottom: 10px;
  width: 125px;
}

.table {
  width: 100%;
  margin: auto;
}

h1 {
  text-align: center;
}

#search {
  width: 30%;
  font-size: 16px;
  padding: 12px 20px 12px 12px;
  margin-bottom: 12px;
}

.search-width {
  width: 100%;
  margin: auto
}
